# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

# 왜 팬더스를 쓰나요?

엑셀과 상당히 유사합니다, 데이터의 수정/가공 및 분석이 용이합니다.    
데이터 가공을 위한 수많은 함수를 지원합니다.  
Numpy 기반으로 데이터 처리가 상당히 빠릅니다.

In [4]:
# !pip install pandas
import pandas as pd

# 1. Series
1차원 데이터 (정수, 실수, 문자열 등)
* 시리즈는 인덱스와 값으로 구성됩니다.

## Series 객체 생성

In [13]:
#예) 1월부터 4월까지 평균 온도 데이터 (-20, -10, 10, 20)
lst = [-20,-10,10,20]
temp = pd.Series(lst)
print(temp)
type(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

pandas.core.series.Series

In [7]:
# 1월 온도
temp[0]

-20

In [14]:
# 3월 온도
temp[2]

10

# Series 객체 생성 (Index 지정)

In [47]:
# 인덱스 지정 index=['Jan', 'Feb', 'Mar', 'Apr']
temp = pd.Series([-20,-10,10,20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [20]:
# Index Jan (1월) 에 해당하는 데이터 출력
temp['Jan']

-20

In [21]:
# Index Apr (4월) 에 해당하는 데이터 출력
temp['Apr']

20

In [23]:
# 존재하지 않는 Index 접근 시도 시 에러
# temp['Jun']

In [30]:
# 두개 이상 인덱싱
temp[[0,2]]
temp[['Jan','Apr']]

Jan   -20
Apr    20
dtype: int64

In [31]:
import pandas as pd 
# 리스트로 생성
array = pd.Series(['사과','바나나','당근'], index = ['a','b','c'])
print(array)
type(array)

a     사과
b    바나나
c     당근
dtype: object

pandas.core.series.Series

In [36]:
import pandas as pd

#딕셔너리로 생성
data = {
    'a':'사과',
    'b':'바나나',
    'c':'당근'    
}
print(type(data))
   
# Dict 자료형을 Series로 바꾸기
seri = pd.Series(data)
print(seri)
print(seri['a'])

<class 'dict'>
a     사과
b    바나나
c     당근
dtype: object
사과

In [40]:
print(seri.index)
print(seri.values)

Index(['a', 'b', 'c'], dtype='object')
['사과' '바나나' '당근']

In [2]:
import pandas as pd

In [55]:
# Series
# Series는 index,value의 두개값을 가진다  --> dataFrame 은 index,value,column세가지
seri = pd.Series([80,90,70,90,95])
seri

0    80
1    90
2    70
3    90
4    95
dtype: int64

In [53]:
# 시리즈정렬 - 리스트로 반환
seri = sorted(seri)
print(seri)
type(seri)

[70, 80, 90, 90, 95]

list

In [71]:
from pandas import Series
# index, values확인
print(seri.index)
seri.values

RangeIndex(start=0, stop=5, step=1)

array([80, 90, 70, 90, 95], dtype=int64)

In [72]:
#index부여(국어,영어,수학,과학,사회)
s = pd.Series([80, 90, 70, 90, 95], index = ['국어','영어','수학','과학','사회'], name = '과목별 성적')
s

국어    80
영어    90
수학    70
과학    90
사회    95
Name: 과목별 성적, dtype: int64

In [70]:
#성적순으로 정렬
print(sorted(s))
print(sorted(s.index))
print(sorted(s.values))

[70, 80, 90, 90, 95]
['과학', '국어', '사회', '수학', '영어']
[70, 80, 90, 90, 95]

In [73]:
s1 = pd.Series({'국어':80,'영어':90,'수학':70,'과학':90,'사회':95})
s1

국어    80
영어    90
수학    70
과학    90
사회    95
dtype: int64

In [75]:
#평균
print(s1.mean(axis=0))

85.0

In [85]:
#중첩리스트 - > 데이터프레임
my_lst = [[1,2],[3,4],[5,6],[7,8],[9,10]]
data = pd.DataFrame(my_lst, columns=['First','Second'])
print(data)
print(type(data))
print(type(data['First']))

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [84]:
#컬럼(시리즈)마스킹
bools = [False,True,True,False,True]
print(data.Second[bools])

1     4
2     6
4    10
Name: Second, dtype: int64

In [101]:
#컬럼을 추가하여 합계구하기
# data2 = data['First']
type(data['First'])
type(data['Second'])
data['Total'] = data['First']+data['Second']
# type(data3)
# data3
print(data['Total'])
print(data.Total)
data

0     3
1     7
2    11
3    15
4    19
Name: Total, dtype: int64
0     3
1     7
2    11
3    15
4    19
Name: Total, dtype: int64

   First  Second  Total
0      1       2      3
1      3       4      7
2      5       6     11
3      7       8     15
4      9      10     19

In [99]:
# 딕셔너리 -> 시리즈
age = {'민준':23,'현우':43,'서연':12,'동현':45}
x = pd.Series(age)
x

민준    23
현우    43
서연    12
동현    45
dtype: int64

In [105]:
# 시리즈의 슬라이싱/인덱싱
a = x[2:]
print(a)
b = x[1]
print(b)
a.values

서연    12
동현    45
dtype: int64
43

array([12, 45], dtype=int64)

In [107]:
# 딕셔너리 -> 시리즈
s = {'name':'홍길동','age':20, 'job':'의적', 'special':'분신술'}
s1 = pd.Series(s)

In [109]:
# 시리즈 데이터접근
print(s1[0])
print(s1['job'])
print(s1[1:])
print(s1[s1=='분신술'])

홍길동
의적
age         20
job         의적
special    분신술
dtype: object
special    분신술
dtype: object

In [110]:
import pandas as pd

# 시리즈 생성
pd.Series(['조조',96,72,91,94,96])

0    조조
1    96
2    72
3    91
4    94
5    96
dtype: object

In [111]:
# index
s = pd.Series(['조조',96,72,91,94,96], index = ['이름','통솔','무력','지력','정치','매력'])

In [115]:
# index 확인
s.index
type(s.index)
s.values
type(s.values)
s.info()

<class 'pandas.core.series.Series'>
Index: 6 entries, 이름 to 매력
Series name: None
Non-Null Count  Dtype
--------------  -----
6 non-null      object
dtypes: object(1)
memory usage: 96.0+ bytes

In [27]:
# values확인

In [28]:
# 시리즈 생성

In [120]:
# reindex
s = pd.Series(['조조',96,72,91,94,96], 
              index = ['이름','통솔','무력','지력','정치','매력'])
s.reindex(['이름','통솔','매력','정치','지력','무력'])

이름    조조
통솔    96
매력    96
정치    94
지력    91
무력    72
dtype: object

In [122]:
# 인덱싱
s[0]
s['이름']
s.이름

'조조'

In [123]:
# 인덱싱2
s[['이름','무력']]

이름    조조
무력    72
dtype: object

In [32]:
# 인덱싱3(loc)

In [33]:
# 인덱싱4(2개)

In [126]:
# 결측치 확인
s[s.isnull()]

Series([], dtype: object)

In [127]:
# 값확인 
s[s.notnull()]
s.notnull()

이름    True
통솔    True
무력    True
지력    True
정치    True
매력    True
dtype: bool

In [135]:
# 값변경
s.무력 = 70
s[s=='조조']
s[s[1:]>70]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [37]:
# 2개 변경

In [38]:
# 삭제

In [39]:
# drop

In [40]:
# c 데이터확인

In [58]:
# 수정된 값 적용

In [41]:
# filtering

In [42]:
# name값 확인

In [43]:
# index 확인

In [44]:
# values 확인

In [45]:
#DataFrame Series + column

In [46]:
#컬럼추출

In [47]:
#시리즈 합계,평균

In [48]:
# index, column전치

In [49]:
#컬럼 연산

In [50]:
# 컬럼연산2

In [53]:
#loc, iloc

In [54]:
!pip install matplotlib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl 
#한글폰트 사용시 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000',periods=1000))
tsdf = pd.DataFrame(np.random.randn(1000,4),
                   index=ts.index,columns=list('ABCD'))
tsdf.head(6)
#tsdf.tail()
#%matplotlib inline

Requirement already satisfied: matplotlib in c:\users\user\lib\site-packages (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\lib\site-packages (from matplotlib) (4.37.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.19 in c:\users\user\lib\site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: packaging>=20.0 in c:\users\user\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

                   A         B         C         D
2000-01-01 -2.362859  1.024769  0.463293  0.482190
2000-01-02 -0.802728  0.168222  0.337905 -1.206414
2000-01-03 -1.095969 -0.676657  0.181745 -0.799606
2000-01-04  0.256234 -1.368405  1.473383  1.010056
2000-01-05 -0.913012  3.183690  0.353224  0.879062
2000-01-06  1.086186  0.800041 -1.027101  0.747026

In [55]:
#plot예문1

In [56]:
#plot예문2

In [57]:
#plot예문3