# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

# 왜 팬더스를 쓰나요?

엑셀과 상당히 유사합니다, 데이터의 수정/가공 및 분석이 용이합니다.    
데이터 가공을 위한 수많은 함수를 지원합니다.  
Numpy 기반으로 데이터 처리가 상당히 빠릅니다.

In [2]:
import pandas as pd

# 1. Series
1차원 데이터 (정수, 실수, 문자열 등)
* 시리즈는 인덱스와 값으로 구성됩니다.

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터 (-20, -10, 10, 20)

In [3]:
temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
temp[0] # 1월 온도

-20

In [5]:
temp[2] # 3월 온도

10

# Series 객체 생성 (Index 지정)

In [83]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [84]:
temp['Jan'] # Index Jan (1월) 에 해당하는 데이터 출력

-20

In [85]:
temp['Apr'] # Index Apr (4월) 에 해당하는 데이터 출력

20

In [88]:
# 존재하지 않는 Index 접근 시도 시 에러
#temp['Jun']

In [89]:
import pandas as pd 

array = pd.Series(['사과', '바나나', '당근'], index=['a', 'b', 'c'])  # 리스트로 생성
 
print(array)
print(array['a'])

a     사과
b    바나나
c     당근
dtype: object
사과

In [90]:
import pandas as pd

data = {                #딕셔너리로 생성
    'a': '사과',
    'b': '바나나',
    'c': '당근'
}

# Dict 자료형을 Series로 바꾸기
seri = pd.Series(data)
print(seri['a'])

사과

In [2]:
import pandas as pd

In [61]:
# Series
# Series는 index,value의 두개값을 가진다  --> dataFrame 은 index,value,column세가지
s = pd.Series([80,90,70,90,95])

print(s)

0    80
1    90
2    70
3    90
4    95
dtype: int64

In [58]:
# 시리즈정렬
s = pd.Series([80,90,70,90,95])
s = sorted(s)
s

[70, 80, 90, 90, 95]

In [62]:
from pandas import Series
# index, values확인
print(s.index)
print(s.values)

RangeIndex(start=0, stop=5, step=1)
[80 90 70 90 95]

In [60]:
#index부여(국어,영어,수학,과학,사회)
s = pd.Series([80,90,70,90,95],index=['국어','영어','수학','과학','사회'],name='성적')
print(s)

국어    80
영어    90
수학    70
과학    90
사회    95
Name: 성적, dtype: int64

In [32]:
#성적순으로 정렬
print(sorted(s))
print(sorted(s.index))
print(sorted(s.values))
s.reindex(sorted(s.index))

[70, 80, 90, 90, 95]
['과학', '국어', '사회', '수학', '영어']
[70, 80, 90, 90, 95]

과학    90
국어    80
사회    95
수학    70
영어    90
Name: 성적, dtype: int64

In [54]:
#딕셔너리 ->시리즈
s1 = pd.Series({'국어':80,'영어':90,'수학':70,'과학':90,'사회':95})
s1

국어    80
영어    90
수학    70
과학    90
사회    95
dtype: int64

In [57]:
#평균
print(s1.mean(axis=0)) #axis는 디폴트값이 0임

85.0

In [63]:
#중첩리스트 - > 데이터프레임
my_ary = [[1,2],[3,4],[5,6],[7,8],[9,10]]
data = pd.DataFrame(my_ary,columns = ['First','Second'])
print(data)

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [64]:
#컬럼(시리즈)마스킹
bools = [False, True, True, False, True]
print(data.Second[bools])

dt1= data.First[bools]
print(dt1)
type(dt1)

1     4
2     6
4    10
Name: Second, dtype: int64
1    3
2    5
4    9
Name: First, dtype: int64

pandas.core.series.Series

In [65]:
#컬럼을 추가하여 합계구하기
dt2=data['First']
dt3 = data['Second']
data['합계'] = dt2 + dt3
data

   First  Second  합계
0      1       2   3
1      3       4   7
2      5       6  11
3      7       8  15
4      9      10  19

In [68]:
# 딕셔너리 -> 시리즈
age = {'민준':23,'현우':43,'서연':12,'동현':45}
x = pd.Series(age)

In [79]:
# 시리즈의 슬라이싱/인덱싱
age = {'민준':23,'현우':43,'서연':12,'동현':45}
x = pd.Series(age)
a = x[2:]
b = a[1]
print(a)
print(b)
print(a.values)
print(type(a),type(b))

서연    12
동현    45
dtype: int64
45
[12 45]
<class 'pandas.core.series.Series'> <class 'numpy.int64'>

In [80]:
# 딕셔너리 -> 시리즈
s2 = {'name':'홍길동','age':20.,'job':'의적','special':'분신술'}
s2= pd.Series(s2)
s2

name        홍길동
age        20.0
job          의적
special     분신술
dtype: object

In [81]:
# 시리즈 데이터접근
print(s2[0])
print(s2['job'])
print(s2[3:])
print(s2[s2=='분신술'])

홍길동
의적
special    분신술
dtype: object
special    분신술
dtype: object

In [2]:
import pandas as pd


pd.Series(['조조', 96, 72, 91, 94, 96])

0    조조
1    96
2    72
3    91
4    94
5    96
dtype: object

In [3]:
s2 = pd.Series(['조조', 96, 72, 91, 94, 96], index=['이름', '통솔', '무력', '지력', '정치', '매력'])

In [4]:
s2.index

Index(['이름', '통솔', '무력', '지력', '정치', '매력'], dtype='object')

In [5]:
s2.values

array(['조조', 96, 72, 91, 94, 96], dtype=object)

In [6]:
infos = { "이름":"조운", "통솔":91, "무력":97, "지력":76, "정치":65, "매력":81 }
pd.Series(infos)

이름    조운
통솔    91
무력    97
지력    76
정치    65
매력    81
dtype: object

In [7]:
s2 = pd.Series(['조조', 96, 72, 91, 94, 96], index=['이름', '통솔', '무력', '지력', '정치', '매력'])
s2.reindex(['이름', '무력', '지력', '정치', '매력', '통솔'])

이름    조조
무력    72
지력    91
정치    94
매력    96
통솔    96
dtype: object

In [8]:
c = pd.Series(['조조', 96, 72, 91, 94, 96], index=['이름', '통솔', '무력', '지력', '정치', '매력'])
c[0]

'조조'

In [9]:
c['이름']

'조조'

In [10]:
 c.loc['무력']

72

In [11]:
c[['이름', '무력']]

이름    조조
무력    72
dtype: object

In [12]:
c[c.isnull()]

Series([], dtype: object)

In [13]:
c[c.notnull()]

이름    조조
통솔    96
무력    72
지력    91
정치    94
매력    96
dtype: object

In [14]:
c['무력'] = 100
c

이름     조조
통솔     96
무력    100
지력     91
정치     94
매력     96
dtype: object

In [15]:
c[['무력', '지력']] = (120, 100)
c

이름     조조
통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

In [16]:
# 삭제
del c['이름']
c

통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

In [17]:
c.drop('무력')

통솔     96
지력    100
정치     94
매력     96
dtype: object

In [18]:
c

통솔     96
무력    120
지력    100
정치     94
매력     96
dtype: object

In [19]:
#수정된 값 적용
c.drop('무력', inplace=True)
c

통솔     96
지력    100
정치     94
매력     96
dtype: object

In [109]:
c.name = 'person'
c

통솔     96
지력    100
정치     94
매력     96
Name: person, dtype: object

In [110]:
c.name

'person'

In [111]:
c.index

Index(['통솔', '지력', '정치', '매력'], dtype='object')

In [112]:
c.values

array([96, 100, 94, 96], dtype=object)