## 딕셔너리로 만들기

In [7]:
import pandas as pd
dict = {'a':1,'b':2,'c':3}
seri_data = pd.Series(dict)
seri_data

a    1
b    2
c    3
dtype: int64

In [12]:
print(seri_data.index)
print(seri_data.values,'\n')
print(seri_data.info())

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

<class 'pandas.core.series.Series'>
Index: 3 entries, a to c
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes
None

## 리스트로 만들기

In [15]:
list = ['2023-01-01', 3.14, 'ABC', 100, True]
seri_data = pd.Series(list)
print(seri_data,'\n')
print(seri_data.info())

0    2023-01-01
1          3.14
2           ABC
3           100
4          True
dtype: object

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes
None

### 튜플로 만들기

In [19]:
tup = ('감찬','2023-10-01','남',True)
seri_data = pd.Series(tup, index = ['이름','생년월일','성별','학생여부'])
print(seri_data)

0            감찬
1    2023-10-01
2             남
3          True
dtype: object

In [20]:
#원소 선택 인덱싱
print(seri_data[[1,2]])

1    2023-10-01
2             남
dtype: object

In [3]:
#인덱스 이름으로 사용하면 범위 끝이 포함됨