# 2. DataFrame
2차원 데이터 (Series 들의 모음)

### 딕셔너리로 만들기

In [1]:
import pandas as pd

### 리스트로 만들기

#### 행,열 이름 변경 : 기본

#### 행,열 이름 변경 : rename()함수

* 행이름 변경시 columns=가 아닌 index=로 지정하면 된다.

#### 행삭제: Drop 함수

* drop('행 또는 열이름', axis = 0 or 1, inplace =True)와 같이 사용한다.</br>
* 행을 삭제하려면 axis=0(디폴트값), 열을 삭제하려면 axis=1을 꼭 지정해 주어야한다.

* loc와 iloc는 가장많이 사용되는 함수이다.(데이터 전처리에 인덱싱이 항상 사용되기 때문)</br>
* loc는 이름으로(사람기준), iloc는 숫자로 인덱싱(컴퓨터기준)

In [2]:
# 두개이상은 대괄호두개

In [3]:
# 행위치로 범위:를 이용해 인덱싱 할때는, 끝값이 포함되지 않는다!.

* 열(컬럼)선택은 따로 함수가 필요없음.
* df.열이름 또는 df[‘열이름’]으로 선택이 가능

In [4]:
# 수학 컬럼만 선택

In [5]:
# 영어만 선택

In [6]:
# 두개이상의 열 선택하기

### 범위 슬라이싱

In [7]:
# 모든 행을 2행간격으로 선택

In [8]:
# 0행부터 2행까지 2행간격으로 선택

In [9]:
# 모든 행을 -1간격으로

### 원소선택
* set_index()함수는 특정열을 인덱스로 부여해주는 함수이다.</br>
* 날짜정보의 열이나, key값을 가진 열을 인덱스로 부여하고 싶은 경우에 사용.

In [10]:
# '서준'의 '음악'점수

In [11]:
# iloc로 인덱싱

In [12]:
# 서준의 음악, 체육점수를 찾는 4가지방법

In [13]:
# 두개이상의 행과 열선택

In [14]:
# 열추가는 df['새로운 열이름'] = 값
# 열이름이 아니라 기존 열이름이라면 덮어씌워진다.

* 원소 값 변경하기

In [15]:
# 서준의 체육값 변경 4가지 방법

* 행과 열 바꾸기 : 전치행렬 transpose()함수, .T

In [16]:
# df.transpose(), df.T 둘다 가능

In [17]:
#전치를 두번 하면 원상태로 돌아옴

## Data 준비
사전 (dict) 자료구조를 통해 생성

예) 슬램덩크 주요 인물 8명에 대한 데이터

In [1]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [18]:
# 이름

In [19]:
#키출력

## DataFrame 객체 생성

In [5]:
import pandas as pd
df = pd.DataFrame(data)

In [ ]:
# 데이터확인

## 데이터 접근

In [21]:
# 이름

In [20]:
# 키

In [22]:
# 이름, 키

## DataFrame 객체 생성 (Index 지정)

In [23]:
# index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])

## DataFrame 객체 생성 (Column 지정)
data 중에서 원하는 column 만 선택하거나, 순서 변경 가능

In [24]:
# columns=['이름', '학교', '키']

In [25]:
#columns=['이름', '키', '학교']